#qna {
  display: none;
}

.qBox {
  background-color: #ffb1cb;
  text-align: center;
  border-radius: 20px;
  font-size: 15;
  width: 80%;
  opacity: 0.85;
}

.answerList {
  background-color: whitesmoke;
  border-radius: 20px;
  display: block;
  width: 80%;
  border: 0px;
  opacity: 0.85;
}

.answerList:hover,
.answerList:focus {
  background-color: orange;
  color: whitesmoke;
}

.hover {
  opacity: 0;
}

&:hover,
&:focus,
&:active .hover {
  opacity: 1;
}

.main_image_text {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heart {
  position: fixed;
  top: 5%;  
  display: block;
  margin: 0 auto;
  transform: translate(-50%);
}

.bi {
  stroke: pink;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.ls {
  position: absolute;
  top: 10%;
  left: 25%;
}

body { overflow: hidden; }
body * { touch-action: none; }