#qna {
  display: none;
}

.qBox {
  background-color: rgb(255, 179, 204);
  text-align: center;
  border-radius: 20px;
  font-size: 15;
  width: 80%;
  opacity: 0.85;
}

.answerList {
  background-color: whitesmoke;
  border-radius: 20px;
  display: block;
  width: 80%;
  border: 0px;
  opacity: 0.85;
}

.answerList:hover,
.answerList:focus {
  background-color: orange;
  color: whitesmoke;
}

.hover {
  opacity: 0;
}

&:hover,
&:focus,
&:active .hover {
  opacity: 1;
}

.main_image_text {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heart {
  position: absolute;
  top: 7%;
  display: block;
  margin-left: 28%;
}

.Love {
  height: 20px;
  width: 80%;
  top: 70px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
}

.LoveBar {
  height: 100%;
  border-radius: 20px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f85032+0,f16f5c+51,f16f5c+51,f02f17+98 */
  background: linear-gradient(
    to bottom,
    rgba(248, 80, 50, 1) 0%,
    rgba(241, 111, 92, 1) 51%,
    rgba(241, 111, 92, 1) 51%,
    rgba(240, 47, 23, 1) 98%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.bi {
  stroke: pink;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.ls {
  position: absolute;
  top: 10%;
  left: 25%;
}

body {
  overflow: hidden;
}
body * {
  touch-action: none;
}
