#qna {
  display: none;
}

.qBox {
  background-color: whitesmoke;
  text-align: center;
  border-radius: 20px;
  font-size: 15px;
  width: 80%;
}

.answerList {
  background-color: whitesmoke;
  border-radius: 20px;
  display: block;
  width: 80%;
  border: 0px;
}

.answerList:hover,
.answerList:focus {
  background-color: orange;
  color: whitesmoke;
}

.hover {
  opacity: 0;
}

&:hover,
&:focus,
&:active .hover {
  opacity: 1;
}

.Love {
  height: 20px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
}

.LoveBar {
  position: relative;
  height: 100%;
  border-radius: 20px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f85032+0,f16f5c+51,f16f5c+51,f02f17+98 */
  background: linear-gradient(
    to bottom,
    rgba(248, 80, 50, 1) 0%,
    rgba(241, 111, 92, 1) 51%,
    rgba(241, 111, 92, 1) 51%,
    rgba(240, 47, 23, 1) 98%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.bi {
  position: absolute;
}
