#qna {
  display: none;
}

.qBox {
  background-color: whitesmoke;
  text-align: center;
  border-radius: 20px;
  font-size: 15px;
  width: 80%;
}

.answerList {
  background-color: whitesmoke;
  border-radius: 20px;
  display: block;
  width: 80%;
  border: 0px;
}

.answerList:hover,
.answerList:focus {
  background-color: orange;
  color: whitesmoke;
}

.hover {
  opacity: 0;
}

&:hover,
&:focus,
&:active .hover {
  opacity: 1;
}

.Love {
  height: 20px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
}

.bi{
  stroke: pink;
}

.heart {
  position: absolute;
  top: 7%;
  left: 8%;
}
