#stage1 {
  display: none;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

#show {
  display: block;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;

}